@{
    ViewData["Title"] = "Planificación 2";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Planificación 2</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
